.about-sec {
  background: #000;
  color: $color1;

  .btn-link {
    padding: 10px;
    color: $color1;
    background: $color3;
    border-radius: 5px;
    text-decoration: none;
  }

  .lang-icon-contain {
    display: flex;
    flex-wrap: wrap;

    .lang-icon {
      padding: 0 5px;
      border-radius: 100%;
    }
  }
}
