nav {
	background: $color3;
	
	.nav-contain {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 25px;
	padding: 15px;
	.link {
	text-decoration: none;
	color: $color1;
	}
}
}
