@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  font-family: $font-stack2;
  font-size: 18px;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack1;
}

@import "./header";
@import "./first_section";
@import "./about";
@import "./footer";

.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #023f92;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0% { transform: scale(1)   translate(10px, -30px); }
  38% { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40% { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78% { transform: scale(1.3) translate(0, 50vh) rotate(-20deg); }
  80% { transform: scale(1.3) translate(0, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}
